@model IEnumerable<BookWebApp.Models.ViewModel.BookViewModelForList>

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
	@if ((bool)ViewData["book_create"])
	{
		<a asp-action="Create">Create New</a>
	}
</p>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Writer</th>
			<th>Price</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Name</td>
				<td>@item.Writer</td>
				<td>@item.Price</td>
				<td>
					@if ((bool)ViewData["book_edit"])
					{
						@Html.ActionLink("Edit", "Edit", new { id = item.Id })
						;
						<span>|</span>
					}
						@Html.ActionLink("Details", "Details", new { id = item.Id })
						

					@if ((bool)ViewData["book_delete"])
					{
						<span>|</span>
						@Html.ActionLink("Delete", "Delete", new { id = item.Id });
					}

				</td>
			</tr>
		}
	</tbody>
</table>
